<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <h1 align="center">Home, Sweet Home!</h1><hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam non laudantium accusantium, pariatur corrupti doloribus, fugit debitis accusamus ullam tempore sunt ad similique nostrum quidem, id fugiat quisquam porro explicabo?</p>

    <h2 align=center>The multiplication is: <%= result %></h2>
</body>
</html>